<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent Episodes</title>
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <div class="space-y-2">
        <div class="flex justify-start items-center">
            <h2 class="text-white text-xl font-bold">Recent Episodes</h2>
        </div>

        <!-- Adsterra Ad Code Here -->
        <center>
            <script type="text/javascript">
                atOptions = {
                    'key' : 'dde9880ee191a4efc970ae24285b5a23',
                    'format' : 'iframe',
                    'height' : 50,
                    'width' : 320,
                    'params' : {}
                };
            </script>
            <script type="text/javascript" src="//bracemascara.com/dde9880ee191a4efc970ae24285b5a23/invoke.js"></script>
        </center>

        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-4">
            <% data.slice(0, -4).forEach((i) => { %>
                <a href="/episode/<%= i.id %>/<%= i.epid %>" class="group space-y-1">
                    <img src="<%= i.cover %>" alt="<%= i.title %>" title="<%= i.title %>"
                        class="w-full h-52 rounded-sm object-cover group-hover:scale-95">
                    <p class="text-white text-base font-medium truncate group-hover:text-violet-600">
                        <%= i.title %>
                    </p>
                    <p class="text-white/50 text-sm font-medium">
                        <%= i.episode %>
                    </p>
                </a>
            <% }) %>
        </div>
    </div>

    <!-- Adsterra Ad Code in Footer -->
    <footer>
        <center>
           <script type="text/javascript">
	atOptions = {
		'key' : '61804812d2c23d09ce5e380ebde82004',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//bracemascara.com/61804812d2c23d09ce5e380ebde82004/invoke.js"></script>
        </center>
    </footer>
</body>
</html>
